@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin-left: 5px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #587074a9;
    color: white;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1;
    border-bottom: 2px solid rgb(15, 15, 15);
    padding: 20px;
    
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: larger;
  }
  
  .p {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
  }
  
  .container {
    padding: 5px;
    border: 5px solid #95f592;
    /* border-radius: 10px; */
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .container:hover {
    
    border: 5px solid rgb(57, 146, 219);
  }
  
  .container a div {
    margin-top: 10px;
  }
  
  .container a {
    text-decoration: none;
  }
  
  .pp {
    margin-top: 70px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #587074a9;
    height: 100vh;
  }
  
  .pp div {
    margin-top: 10px;
    background-color: #587074a9;
  }

  /* .back{
    background-color: #95f592;
  } */
  
